*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #414242;
}
.wrapper{
    position: relative;
    width: calc(100vw - 83*2px);
    display: flex;
    align-items: center;
    height:100%;
    position: relative;
    margin: auto;
}
erro{
  display: none;
}
/* Màn hình nhỏ (điện thoại) - tối đa 480px */
/* @media (max-width: 480px) {
    body {
      background-color: lightblue;
    } */
    /* Các thay đổi giao diện dành cho điện thoại */
  /* } */
  
  /* Màn hình trung bình (máy tính bảng) - từ 481px đến 768px */
  /* @media (min-width: 481px) and (max-width: 768px) {
    body {
      background-color: lightgreen;
    } */
    /* Các thay đổi giao diện dành cho máy tính bảng */
  /* }
   */
  /* Màn hình lớn (máy tính) - từ 769px đến 1024px */
  /*  @media (min-width: 769px) and (max-width: 1250px) */
  @media (max-width: 1250px) {
    header, .searchclub{
      display: none;
      
    }
    body{
      background-color: #ffffff;
      display: flex;
      text-align:center;
      align-content: center;
      height: 100vh;
      background-image: url("../img/webee_logo.svg");
      background-repeat: no-repeat;
      color: #686868;
    }
    .error{
      display: block;
      margin: auto;
    }
    .error::before{
      content: 'ERROR';
      font-size: 5vw;
      font-family: 'Be Vietnam Pro';
    }
    .error::after{
      content: 'Dộ dài màn hình của bạn hiện không được trang web hỗ trọ truy cập bởi trang web!';
      font-size: 5vw;
      font-family: 'Be Vietnam Pro';
    }
    /* Các thay đổi giao diện dành cho màn hình máy tính nhỏ */
  }
  
  /* Màn hình rất lớn (desktop lớn) - từ 1025px trở lên */
  @media (min-width: 1250px) {
    /* Các thay đổi giao diện dành cho desktop lớn */
  }
  