.header {
    width: 100%;
    height: 120px;
}

.header-banner {
    position: relative;
    width: 100%;
    height: 31px;
    background-color: #ffffff;
}

.header-banner * {
    position: absolute;
    top: 1px;
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    display: inline-flex;
    align-items: center;
    text-align: center;

}

.banner-title {
    left: 33.1vw;
    color: #000000;
    
}
.banner-signin {
    right: 0px;
    text-decoration-line: underline;
    color: #000000;
}

.header-content {
    top: 31px;
    width: 100%;
    height: 89px;
    display: flex;
    align-items: center;
    position: relative;

}

.content-logo {
    position: absolute;
    transform: translateX(-20px);
    cursor: pointer;
    transition: 0.2s;
}
.content-logo:hover {
    border-bottom: 2px solid #FFC000;
}
.nav {
    position: absolute;
    right: 0px;
    display: flex;
    align-content: center;
    list-style: none;
    gap: 40.1687px;
}

.nav__link {
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav__link a {
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
    transition: 0.2s;
}
.nav__link a:hover {
    color: #FFC000;
}

.nav__searchbox {
    border-radius: 50px;
    display: flex;
    padding: 0 10px;
    padding-right: 22px;
    width: 31.3325vw;
    height: 38px;
    border: none;
    background-color: #ffffff;
    box-sizing: border-box;
    position: relative;
}
.searchbox-searchicon {
    padding: 12px;
    padding-top: 10px;
    font-size: 20px;
    display: inline-block;
    align-content: center;
    padding-right: 10px;
    font-weight: 100;
}
.searchbox-textbox {
    padding-top: 1px;
    height: 100%;
    font-size: 18px;
    width: calc(100%);
    height: 100%;
    border: none;
    outline: none;
    box-sizing: border-box;
}
.searchbox-textbox::placeholder{
    font-size: 18px;
    color: #000000;
    font-weight: 550;
}