.header{
    width: 100%;
}

.header__banner {
    position: relative;
    width: 100%;
    height: 31px;
    background-color: #ffffff;
}
.header__banner *{
    position: absolute;
    top: 1px;
    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    display: inline-flex;
    align-items: center;
    text-align: center;

}
.banner__title {
    left: 31.5vw;
    color: #000000;
}

.banner__signin {
    right: 9.05vw;
    text-decoration-line: underline;
    color: #000000;
}
.header__content {
    width: 100%;
    height: 89px;
    display: flex;
    align-items: center;

}
.header__content__logo{
    width: 217px;
    transform: translateX(-1.5vw);
}
